body {
    margin: 0 auto;
    background-color: #050D1E;
    color: white;
    scroll-behavior: smooth; /* Add this line */

}
html {
    scroll-behavior: smooth;
}

.content {
    padding-left: 90px;
    padding-right: 90px;
}

