body {
    margin: 0 auto;
    background-color: #FFFFFF;
    color: black;
    scroll-behavior: smooth;

}
html {
    scroll-behavior: smooth;
}

.content {
    padding-left: 90px;
    padding-right: 90px;
}

