@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #281E1E;
    margin: auto;
    padding: 0;
    color: white;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth; /* Add this line */

}

html {
    scroll-behavior: smooth; /* Add this line */
}

.noto-sans-regular {
                font-family: "Noto Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-variation-settings:
                        "wdth" 100;
            }