.post-detail {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 120px;
}

.post-cover-image {
    max-height: 50vh;
}

.post-metadata {
    position: absolute;
    display: flex;
    bottom: 0;
}

.post-title {
    font-size: 60px;
}

.post-content {
    font-size: 20px;
    text-align: justify;
    white-space: pre-wrap;
    line-height: 2rem;
}

.author-data {
    width: 100%;
    display: flex;
}

.author-name {
    text-align: center;
    font-size: 18px;
}
.svgs-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.svgs {
    max-width: 50px;
    max-height: 50px;
}

.back-btn {
    display: flex;
    gap: 1.3rem;
    border: 1px solid white;
    border-radius: 12px;
    max-width:5rem;
    padding: 2px 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.actions > button {
    padding: 12px 18px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}

#editBtn {
    background-color: #dab512;
}

#deleteBtn {
    background-color: red;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #0C182E;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.modal button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 12px;
    color: white;
}

.delete-confirm {
    background-color: red;
}

.delete-cancel {
    background-color: #050D1E;
}