
.main-container {
    margin: 2rem auto;
    height: 80vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0C182E;
}

.container {
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.submitBtn {
    width: 60%;
    align-self: center;
    padding: 12px 12px;
    border-radius: 8px;
}